<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.photoworld">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/photo_world"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/photo_world"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".registration_login_profile.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registration_login_profile.LoginActivity" />
        <activity android:name=".registration_login_profile.RegisterActivity" />
        <activity android:name=".photoGallery.MyGalleryActivity" />
        <activity android:name=".registration_login_profile.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".photoGallery.MyGalleryActivity" />
        </activity>
        <activity android:name=".photoGallery.PhotoViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".photoGallery.ToDelete" />
        </activity>
        <activity android:name=".registration_login_profile.EditProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".registration_login_profile.ProfileActivity" />
        </activity>
        <activity
            android:name=".registration_login_profile.LogoutDialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".registration_login_profile.UploadDialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        />
        <activity android:name=".photoGallery.CategoryActivity"></activity>
    </application>

</manifest>